nvim/.config/nvim/backup/
nvim/.config/nvim/undo/
nvim/.config/nvim/swap/
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/coc-settings.json
nvim/.config/nvim/dadbod.vim
nvim/.config/nvim/plugin/*
nvim/.config/nvim/node-modules/
